{{#if isAdmin}}
    <h2>Products:</h2>
    {{#each payload}}
        <div><ul>
                <li><b>id: </b>{{this.id}}</li>
                <li><b>title: </b>{{this.title}}</li>
                <li><b>description: </b>{{this.description}}</li>
                <li><b>price: </b>{{this.price}}</li>
                <li><b>code: </b>{{this.code}}</li>
                <li><b>status: </b>{{this.status}}</li>
                <li><b>stock: </b>{{this.stock}}</li>
                <li><b>category: </b>{{this.category}}</li>
                <hr style="background-color:rgb(161, 161, 161); height: 10px;" />
            </ul></div>
    {{/each}}
{{else}}

    <div><b>Error!</b> You have no access to this information.</div>
{{/if}}