<h1>Carrito</h1>
<article>
  <table>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    {{#each cart.products}}
      <tr>
        <td>{{this.product.title}}</td>
        <td>{{this.product.price}}</td>
        <td>{{this.quantity}}</td>
        <td>
          <button
            onclick="deleteProduct({{this._id}})"
            data-product-id="{{this._id}}"
          >Delete</button>
        </td>
      </tr>
    {{/each}}

  </table>

  <header>
    <a href="/api/profile" role="button">Back to home</a>
  </header>

</article>

<script type="module" src="/js/cart.js"></script>